RewriteEngine On 

# Tus reglas de redirección existentes
RewriteRule ^products/(.*)$ /productos/$1 [R=301,L]
RewriteRule ^products/(.*)\.html$ /productos/$1 [R=301,L]
RewriteRule ^products/AW-BP508B\.html$ /productos/AW-BP508B/ [R=301,L]
RewriteRule ^products/AW-BP508C\.html$ /productos/AW-BP508C/ [R=301,L]
RewriteRule ^products/AW-BP508N\.html$ /productos/AW-BP508N/ [R=301,L]
RewriteRule ^products/AW-BP508R\.html$ /productos/AW-BP508R/ [R=301,L]
RewriteRule ^audio/party/AW-T600D-SN\.html$ /productos/AW-T600D-SN/ [R=301,L]
RewriteRule ^audio/party/AW-P1200D\.html$ /productos/AW-P1200D/ [R=301,L]
RewriteRule ^audio/party/AW-P1200D-SA\.html$ /productos/AW-P1200D-SA/ [R=301,L]
RewriteRule ^audio/party/AW-P1200D-SN\.html$ /productos/AW-P1200D-SN/ [R=301,L]
RewriteRule ^audio/party/AW-P1510D\.html$ /productos/AW-P1510D [R=301,L]
RewriteRule ^audio/party/AW-T1510D-SN\.html$ /productos/AW-T1510D-SN [R=301,L]
RewriteRule ^audio/party/AW-P1500PS\.html$ /productos/AW-P1500PS [R=301,L]
RewriteRule ^audio/party/AW-T506R\.html$ /productos/AW-T506R [R=301,L]
RewriteRule ^audio/party/AW-T506R-PB\.html$ /productos/AW-T506R-PB [R=301,L]
RewriteRule ^audio/party/AW-T604F\.html$ /productos/AW-T604F [R=301,L]
RewriteRule ^audio/party/AW-T806F\.html$ /productos/AW-T806F [R=301,L]
RewriteRule ^audio/party/AW-T806F-SA\.html$ /productos/AW-T806F-SA [R=301,L]
RewriteRule ^audio/party/AW-T806F-PB\.html$ /productos/AW-T806F-PB [R=301,L]
RewriteRule ^audio/party/AW-T1008F\.html$ /productos/AW-T1008F [R=301,L]
RewriteRule ^audio/party/AW-T1008F-PB\.html$ /productos/AW-T1008F-PB [R=301,L]
RewriteRule ^audio/party/AW-T2008\.html$ /productos/AW-T2008 [R=301,L]
RewriteRule ^audio/party/AW-T2008-PB\.html$ /productos/AW-T2008-PB [R=301,L]
RewriteRule ^audio/party/AW-T2010\.html$ /productos/AW-T2010 [R=301,L]
RewriteRule ^audio/party/AW-T2010-PB\.html$ /productos/AW-T2010-PB [R=301,L]
RewriteRule ^audio/party/AW-T2012\.html$ /productos/AW-T2012 [R=301,L]
RewriteRule ^audio/party/AW-T2021\.html$ /productos/AW-T2021 [R=301,L]
RewriteRule ^audio/party/AW-T2022\.html$ /productos/AW-T2022 [R=301,L]
RewriteRule ^audio/party/AW-T2018R\.html$ /productos/AW-T2018R [R=301,L]
RewriteRule ^audio/party/AW-T240D-SN\.html$ /productos/AW-T240D-SN [R=302,L]
RewriteRule ^audio/party/AW-T2050R\.html$ /productos/AW-T2050R [R=301,L]
RewriteRule ^audio/party/AW-T2040\.html$ /productos/AW-T2040 [R=301,L]
RewriteRule ^audio/party/AW-T2042\.html$ /productos/AW-T2042 [R=301,L]
RewriteRule ^audio/party/AW-T2044\.html$ /productos/AW-T2044 [R=301,L]
RewriteRule ^audio/party/AW-T2202\.html$ /productos/AW-T2202 [R=301,L]
RewriteRule ^audio/party/AW-T2203\.html$ /productos/AW-T2203 [R=301,L]
RewriteRule ^audio/party/AW-T2302\.html$ /productos/AW-T2302 [R=301,L]
RewriteRule ^audio/party/AW-T2303\.html$ /productos/AW-T2303 [R=301,L]
RewriteRule ^headsets/cable/AVA-102N\.html$ /productos/AVA-102N [R=301,L]
RewriteRule ^headsets/cable/AVA-102B\.html$ /productos/AVA-102B [R=301,L]
RewriteRule ^headsets/bluetooth/AVA-BT301B\.html$ /productos/AVA-BT301B [R=301,L]
RewriteRule ^headsets/bluetooth/AVA-BT301N\.html$ /productos/AVA-BT301N [R=301,L]
RewriteRule ^headsets/bluetooth/AVA-DBT93\.html$ /productos/AVA-DBT93 [R=301,L]
RewriteRule ^headsets/bluetooth/ATA-105N\.html$ /productos/ATA-105N [R=301,L]
RewriteRule ^headsets/bluetooth/ATA-106N\.html$ /productos/ATA-106N [R=301,L]
RewriteRule ^headsets/bluetooth/ATA-105B\.html$ /productos/ATA-105B [R=301,L]
RewriteRule ^headsets/bluetooth/ATA-106B\.html$ /productos/ATA-106B [R=301,L]
RewriteRule ^headsets/bluetooth/ATA-205N\.html$ /productos/ATA-205N [R=301,L]
RewriteRule ^headsets/bluetooth/ATA-206N\.html$ /productos/ATA-206N [R=301,L]
RewriteRule ^headsets/bluetooth/ATA-205B\.html$ /productos/ATA-205B [R=301,L]
RewriteRule ^headsets/bluetooth/ATA-206B\.html$ /productos/ATA-206B [R=301,L]
RewriteRule ^headsets/bluetooth/ATA-306B\.html$ /productos/ATA-306B [R=301,L]
RewriteRule ^headsets/bluetooth/ATA-406N\.html$ /productos/ATA-406N [R=301,L]
RewriteRule ^headsets/bluetooth/ATA-406B\.html$ /productos/ATA-406B [R=301,L]
RewriteRule ^headsets/inear/ATA-506R\.html$ /productos/ATA-506R [R=301,L]
RewriteRule ^headsets/inear/ATA-506V\.html$ /productos/ATA-506V [R=301,L]
RewriteRule ^headsets/inear/ATA-506A\.html$ /productos/ATA-506A [R=301,L]
RewriteRule ^headsets/inear/ATA-506L\.html$ /productos/ATA-506L [R=301,L]
RewriteRule ^informatica/notebook/CA-141\.html$ /productos/CA-141 [R=301,L]
RewriteRule ^informatica/notebook/CA141-CO\.html$ /productos/CA141-CO [R=301,L]
RewriteRule ^informatica/notebook/CA141-C\.html$ /productos/CA141-C [R=301,L]
RewriteRule ^informatica/notebook/NA-1413\.html$ /productos/NA-1413 [R=301,L]
RewriteRule ^informatica/notebook/NA-1431\.html$ /productos/NA-1431 [R=301,L]
RewriteRule ^informatica/tablet/TA-07\.html$ /productos/TA-07 [R=301,L]
RewriteRule ^informatica/tablet/TA07-2GB\.html$ /productos/TA07-2GB [R=301,L]
RewriteRule ^informatica/tablet/TA-07-232\.html$ /productos/TA-07-232 [R=301,L]
RewriteRule ^informatica/tablet/TA-10\.html$ /productos/TA-10 [R=301,L]
RewriteRule ^informatica/tablet/TA10-SO10\.html$ /productos/TA10-SO10 [R=301,L]
RewriteRule ^informatica/tablet/TA-10-232\.html$ /productos/TA-10-232 [R=301,L]
RewriteRule ^informatica/notebook/CA141-C\.html$ /productos/CA141-C [R=301,L]


<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>



